<?xml version="1.0" encoding="UTF-8"?>  

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>file:/Users/llh/IdeaProjects/RealtimeSpider/src/main/resources/mysql.properties</value>
		</property>
		<property name="fileEncoding" value="utf-8" />
	</bean>
	
    <!-- more bean definitions go here -->
	<!-- Timer schedule -->
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
	<!--要调度的对象-->  
	<bean id="jobBean" class="com.intellitech.spider.Brood" >
	<!--<property name="rootPageMapper" ref="rootPageMapper" />-->
	</bean>
	<bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
	    <property name="targetObject" ref="jobBean" />  
	    <property name="targetMethod" value="execute" />  
	    <!--将并发设置为false-->  
	    <property name="concurrent" value="false" />  
	</bean>  
	  
	<bean id="trigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
	        <property name="jobDetail" ref="jobDetail" />  
	                <!--表达式，我的是每 30 执行一次-->  
	               <property name="cronExpression" value="0/10 * * * * ?" />
	</bean>

	<!--要调度的对象-->
	<bean id="jobBean1" class="com.intellitech.spider.Master" >
		<!--<property name="rootPageMapper" ref="rootPageMapper" />-->
	</bean>
	<bean id="jobDetail1" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="jobBean1" />
		<property name="targetMethod" value="execute" />
		<!--将并发设置为false-->
		<property name="concurrent" value="true" />
	</bean>

	<bean id="trigger1" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="jobDetail1" />
		<!--表达式，我的是每 30 执行一次-->
		<property name="cronExpression" value="0/1 * * * * ?" />
	</bean>

	<!-- <bean id="spider" class="com.intellitech.spider.Spider"/>   -->
 
 
	<!--  总管理类如果将lazy-init='false'那么容器启动就会执行调度程序   -->  
	<bean id="startQuertz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false" >  
	        <property name="triggers">  
	            <list>  
	                <!--作业调度器,list下可加入其他的调度器-->  
	            <ref bean="trigger" />  
	            </list>  
	    </property>  
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
	    <!--<property name="configLocation" value="file:/Users/llh/git/RealtimeSpider/src/main/resources/mappers.xml" />-->
		<property name="configLocation" value="classpath:mappers.xml" />
	    <property name="dataSource" ref="dataSource" />  
	</bean>  
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
	    <property name="driverClassName" value="com.mysql.jdbc.Driver" />  
	    <property name="url" value="${jdbc.url}" />  
	</bean>  
	<bean id="linkMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">  
	    <property name="mapperInterface" value="com.intellitech.spider.dao.LinkMapper" />  
	    <property name="sqlSessionFactory" ref="sqlSessionFactory" />  
	</bean>
	<bean id="pendingLinkMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.intellitech.spider.dao.PendingLinkMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="filterLinkMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.intellitech.spider.dao.FilterLinkMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="rootPageMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">  
	    <property name="mapperInterface" value="com.intellitech.spider.dao.RootPageMapper" />  
	    <property name="sqlSessionFactory" ref="sqlSessionFactory" />  
	</bean> 
	<bean id="similarityCounter" class="com.intellitech.spider.similar.SimilarityCounter">   
	</bean>  
    <!--<bean id="similarity" class="com.intellitech.spider.similar.LevenshteinSimilarity">
	</bean>-->
	<bean id="similarity" class="com.intellitech.spider.similar.CosineSimilarity">
	</bean>
	<bean id="analyzer" class="com.intellitech.spider.analyzer.PaodingTextAnalyzer">   
	</bean>
	<bean id="paodinAanalyzer" class="net.paoding.analysis.analyzer.PaodingAnalyzer">   
	</bean>
	<bean id="filter" class="com.intellitech.spider.filter.FilterChain">
		   <property name="filters">  
            <list>  
                <ref bean="shortTextFilter" />  
                <ref bean="noiceFilter" />
            </list>
        </property>
	</bean>
	
	<bean id="shortTextFilter" class="com.intellitech.spider.filter.ShortTextFilter"/>
	<bean id="noiceFilter" class="com.intellitech.spider.filter.NoiceFilter"/>
</beans>
